.container{
    display: block;
}
.navigationb{
    background-color: aqua;
}
.nav{
    
    background-color: #001616;
    height: 50px;
}
a{
   font-weight: bold;
   color: #126fe9;
   text-decoration: none;
}
.back{
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}
li{
    list-style-type: none;
}